<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h2>Welcome, <%= userid %>!</h2>
  <a href="/logout">Logout</a> |
  <a href="/items">Items CRUD</a>
  <hr>
  <p>This is a simple Inventory system.
</body>
</html>