<!DOCTYPE html>
<html>
<head>
  <title>HKMU Inventory System</title>
</head>
<body>
  <h2>HKMU Inventory System Login</h2>
  <form method="POST" action="/login">
    <input type="text" name="userid" placeholder="HKMU SID" required /><br/>
    <input type="password" name="password" placeholder="HKMU Password" required /><br/>
    <button type="submit">Login</button>
  </form>
  <div style="color: red"><%= message %></div>
  <p>Test login: hkmu / hkmu</p>
</body>
</html>